{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">
        <h2>{{template_data.memory.title}}</h2>
        <hr />
        <p><b>Date:</b> {{template_data.memory.date}}</p>
        <p><b>Description:</b> {{template_data.memory.description}}</p>



      </div>
      <div class="col-md-6 mx-auto mb-3 text-center">
        <img src="{{ template_data.memory.image.url }}" class="rounded img-fluid" />
      </div>
    </div>
  </div>
</div>
{% endblock content %}